<div class="card-container">
  <div class="card">
    <svg class="icon">
      <use xlink:href="../images/sprite.svg#order"></use>
    </svg>
    <h5>Orders</h5>
    <p>Orders processed as soon as recieved</p>
  </div>
  <div class="card">
    <svg class="icon">
      <use xlink:href="../images/sprite.svg#delivery"></use>
    </svg>
    <h5>Delivery</h5>
    <p>Delivery available to your locationaround our radius</p>
  </div>
  <div class="card">
    <svg class="icon">
      <use xlink:href="../images/sprite.svg#return-package"></use>
    </svg>
    <h5>Returns</h5>
    <p>Returns allowed within 7 days.</p>
  </div>
</div>

<!-- Product Card -->

<div class="product-container">
  <div class="product">
    <div class="product-info">
      <p>Diamond Broom</p>
      <h5 class="h5-1">R45.70</h5>
    </div>
    <div class="product-image">
      <img src="images/Diamong Broom.jpeg" alt="product" />
      <button class="btn btn--secondary">Order</button>
    </div>
  </div>
</div>
