<footer class="footer">
      <div class="nav-links">
        <a href="#" class="footer-link">Home</a>
        <a href="#" class="footer-link">About</a>
        <a href="#" class="footer-link">Services</a>
        <a href="#" class="footer-link">Login</a>
      </div>
      <div class="contact-icons">
        <a href="#">
          <h5>Get in touch</h5>
          <a href="#">
            <svg class="icon icon-contact icon-contact-footer">
              <use xlink:href="../images/sprite.svg#gmail"></use>
            </svg>
          </a>
          <a href="#">
            <svg class="icon icon-contact icon-contact-footer">
              <use xlink:href="../images/sprite.svg#whatsapp"></use>
            </svg>
          </a>
        </a>
      </div>
      <div class="footer-logo">
        <a href="/">
          <svg class="icon footer-logo-icon">
            <use xlink:href="../images/sprite.svg#logo"></use>
          </svg>
        </a>
        <h4>Ncebiz Supply</h4>
      </div>
      <p>Copyrihts 2022 Nonceba Muller.</p>
    </footer>