<section class="hero">
      <div class="container grid grid--1x2">
        <header class="hero__content">
          <h1 class="hero__headline">Heading 1</h1>
          <p class="hero__tagline">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Consectetur placeat libero, saepe voluptatibus nobis numquam veniam
            facere praesentium nihil perferendis!
          </p>
          <button class="btn btn--primary hero__btn">Order Now</button>
        </div>
    </header>
    
    </section>