<div class="input-group">
    <input class="search-input type=" text" name="" id="" placeholder="Enter phrase...">
    <button class="btn btn--search">Search</button>
</div>

<input type="text" name="" id="" class="input input-name" placeholder="Name...">
<input type="email" name="" id="" class="input input-email" placeholder="Eamil...">
<input type="text" name="" id="" class="input input-quantity" placeholder="Quantity">
<input type="text" name="" id="" class="input input-body" placeholder="Order message...">