<nav class="nav collapsible">
      <svg class="icon icon-menu nav__toggler">
        <use xlink:href="images/sprite.svg#menu"></use>
      </svg>
      <a class="nav__brand" href="/">
        <svg class="icon icon-logo">
          <use xlink:href="images/sprite.svg#logo"></use>
        </svg>
      </a>
      <div class="icon-cart-search">
        <svg class="icon icon-search">
          <use xlink:href="images/sprite.svg#search"></use>
        </svg>
        <a href="/">
          <svg class="icon-cart">
            <use xlink:href="images/sprite.svg#cart-bold"></use>
          </svg>
        </a>
      </div>
      <ul class="list nav__list collapsible__content">
        <li class="nav__item"><a href="#">About</a></li>
        <li class="nav__item"><a href="#">Products</a></li>
        <li class="nav__item"><a href="#">Contact</a></li>
        <li class="nav__item"><a href="#">Login</a></li>
      </ul>
    </nav>